body{
    margin:0;
    padding:0;
    margin-top: 15px;
    background-color: white;
}

table{
    margin:auto;
}
button{
    height: 100px;
    width:100px;
    font-size: 80px;
    font-family: 'Gill Sans MT';
    background-color: white;
}
#result{
    padding-top:10px;
    padding-right: 10px;
    height:80px;
    width:407px;
    font-size:60px;
    font-family: 'Gill Sans MT';
    text-align: right;
    margin:auto;
    border: 5px solid black;
}

button:hover{
    color: red;
}

h3{
    margin:4px;
    margin-left:0px;
    color: black;
}

#farveknap{
    background-color:grey;
    height: 40px;
    width:40px;
    border-width:5px;
    border-color: white;
}
#farveknap1{
    background-color:white;
    height: 40px;
    width:40px;
    border-width:5px;
    border-color:black;
}
#farveknap2{
    background-color:black;
    height:40px;
    width:40px;
    border-width:5px;
    border-color:white;
}

#farveknap:hover,#farveknap1:hover,#farveknap2:hover{
    opacity:0.75;
}

#farver{
    padding-top:10px;
    padding-right: 10px;
    height:80px;
    width:200px;
    font-family: 'Gill Sans MT';
    text-align: left;
    color:white;
}